header {
    border-bottom: 1px solid gray;
    padding: 20px;
}
h1 {
    color: gray;
    font-size: 8vw;
}

nav {
    border-right: 1px solid gray;
    width: 200px;
    height: 20vw;
}
nav ol {
    list-style: none;
}

main {
    align-self: auto;
}
.mainGif {
    width: 50%;
    position: absolute;
    bottom: 300px;
    left: 250px;
}

#introduce {
    font-size: 1rem;
    font-style: oblique;
    color: gray;
    }

.foot {
    font-size: 0.7rem;
    font-style: oblique;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
    padding: 15px 30px;
    font-size: 1vw;
    }

.guide {
    font-size: 3.5vw;
}

.contents {
    position: absolute;
    bottom: 100px;
    
}

.thumbnail {
    max-width: 50%;
}